USER REVIEWS

In [15]:
#Tamaño User reviews antes de la limpieza:
print('reviews: ', reviews.shape)

reviews:  (25799, 3)

In [17]:
#Limpieza NaN user reviews:
reviews_clean = reviews.dropna(how='all')

In [18]:
#Tamaño User reviews clean:
print('User reviews: ', reviews_clean.shape)
reviews_clean.head()
#no se redujo

User reviews:  (25799, 3)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

USER ITEMS

In [19]:
#ETL for user items
import gzip
import ast
import pandas as pd 

data = []

try:
    with gzip.open('users_items.json.gz', 'rb') as d:
        for line in d:
            data.append(ast.literal_eval(line.decode('utf-8')))
    Users_Items = pd.DataFrame(data)
finally:
    d.close()

In [20]:
#Tamaño user items antes de la limpieza:
print('Users_Items: ', Users_Items.shape)

Users_Items:  (88310, 5)

In [21]:
#Limpieza de NaN:
items_clean = Users_Items.dropna(how='all')

In [22]:
#tamaño items luego de la limpieza:
print('Items: ',items_clean.shape)
#no se redujo
items_clean.head(
)

Items:  (88310, 5)

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [2]:
import pandas as pd
modelorobado = pd.read_parquet('src/modelorobado_item.parquet')
modelorobado

           id             app_name      genres
0      761140  Lost Summoner Kitty      Action
1      761140  Lost Summoner Kitty      Casual
2      761140  Lost Summoner Kitty       Indie
3      761140  Lost Summoner Kitty  Simulation
4      761140  Lost Summoner Kitty    Strategy
...       ...                  ...         ...
71546  610660        Russian Roads       Indie
71547  610660        Russian Roads      Racing
71548  610660        Russian Roads  Simulation
71549  658870  EXIT 2 - Directions      Casual
71550  658870  EXIT 2 - Directions       Indie

[71551 rows x 3 columns]